/*Stylesheet*/


.content {
	position:		relative;
	top: -33px;
	height:20px;
}

#loader {
	display: none;
}
.loader {
	width: 100%;
	height: 50px;
	position: absolute;
	text-align:center;
	margin-top: 250px;
	background: url('loader.gif') no-repeat;
	background-position: 50% 50%;
	display: block !important;
}

#error {
	display:none;
	width: 960px;
	text-align: left;
	padding: 10px;
}

#mobile {
    display:none;
    width: 960px;
    text-align: left;
    padding: 10px;
}


#musicplayer {
	width: 451px;
	height: 101px;
	background-image: url('mediaplayer/musicplayer.png');

	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
#blocker {
	background-color: #f00;
	opacity: 0;
	width: 451px;
	height: 101px;
	cursor: pointer;
}
#musicplayer DIV {
	position: absolute;
}
.button {
	width: 64px;
	height: 64px;
	top: 31px;
}
#playBtn {
	left: 324px;
}
.playBtn {
	background-image: url('mediaplayer/buttonPlay.png');
}
.playBtn:hover {
	background-image: url('mediaplayer/buttonPlayHover.png');
}
.pauseBtn {
	background-image: url('mediaplayer/buttonPause.png');
}
.pauseBtn:hover {
	background-image: url('mediaplayer/buttonPauseHover.png');
}
#stopBtn {
	left: 387px;
}
.stopBtn {
	background-image: url('mediaplayer/buttonStop.png');
}
.stopBtn:hover {
	background-image: url('mediaplayer/buttonStopHover.png');
}

#labels {
	top: 35px;
	left: 37px;
	position: absolute;
}
#musicplayer LABEL {
	color: white;
	background-color:inherit ;
}
#song {
}
#artist {
	top: 52px;
	left: 37px;
}

#track {
	width: 262px;
	height: 5px;
	top: 78px;
	left: 40px;
	background-image: url("mediaplayer/scubberBar.png");
}

#thumb {
	cursor: pointer;
	background-image: url("mediaplayer/scrubberPlayhead.png");
	width: 16px;
	height: 16px;
	top: -5px;
}
.disabled {
	opacity: 0.5;
}