#nav_bar {
	background-color: #ff0000;
	height: 44px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

html {
	background-color: #EEEEEE;
	height: 100%;
}

body {
	padding-top: 50px;
}

#content {
	height: 80%;
}